.welcome-content{
  width: 100%;
  font-size: 11px;
  letter-spacing: 0.44px;
  background: #ffffff;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1441AF;
  height: 4.41rem;
  z-index: 999;
  border-radius: 0;
  padding: 0rem 2rem 0rem 2rem;
  display: block;
}

.logo-fintech img {
  width: 12rem;
  margin-top: .5rem;
  //padding: 0rem 0.2rem .2rem 0rem;
}

.logo-fintech {
  float: left;
  display: flex;
}
.logo-fintech span {
  font-size: 2.3rem;
  padding: 0.4rem 0rem 0rem 0rem;
  color: white;
  font-weight: 600
}

.title-fintech{
  padding-top: 0.7rem;
}

.title-fintech .second-title {
  color: #a1bf23;
}

.nav-header {
  float: right;
  
}

.nav-header ul{
  list-style-type: none;
  margin-top: .7rem;
  text-align: center;
}
.nav-header ul li { 
  display: inline-block;
}
.nav-header ul li a{
  text-decoration: none;
  color: #f2f2f2;
  padding: 0.4rem;
}

.nav-header ul li a span{
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 10px;
  box-shadow: 4px 8px 14px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px #ffffff;
  cursor: pointer;
}

.nav-header ul li a:hover span{
  padding: 0.5rem 1rem 0.5rem 1rem;
  -webkit-box-shadow: 4px 8px 14px 0 rgb(0 0 0 / 6%);
  box-shadow: 4px 8px 14px 0 rgb(0 0 0 / 6%);
  border: solid 1px #fff;
  background-color: #ffffff;
  color: #1d2d63;
}

.line-vertical{
  //border-left: 1px solid #fff;
  padding: 1rem 0rem 1rem 0rem;
}

.boton-close {
  font-size: 2rem;
  color: white;
  padding-top: .5rem;
  width: 15px;
  display: none;
}

.section-full{
  width: 100%;
  padding-top: 4.46rem;
  height: 100vh;
  z-index: 0;
  .fondo{
    width: 100%;
    height: 100%;
  }
}

.section-full .section-left{
  padding: 6rem 1rem 0rem 1rem;
}

.section-title h1{
  font-size: 27px;
  font-weight: bold;
  line-height: 1.52;
  letter-spacing: 1.08px;
  text-align: center;
  color: #1d2d63;
}

.section-text{
  padding-top: 2.5rem;
}

.section-text p {
  margin: 0.7rem 0 0.7rem;
  font-size: 1.1rem;
  letter-spacing: .8px;
  text-align: center;
  color: #1c263b;
}

.div-btn {
  text-align: center;
  padding-top: 2.5rem;
}

.btn-comenzar {
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 28px;
  box-shadow: 10px 12px 24px 0 rgba(161, 191, 35, 0.73);
  background-color: #a1bf23;
}

.btn-comenzar span {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.67;
  letter-spacing: .96px;
  color: #fff;
}

.section-full .section-rigth{
  padding: 3rem 5rem 0rem 0rem;
}
  
.section-rigth img{
  width: 100%;
  height: auto;
  margin-left: 2rem;
}

.section-quienes-somos{
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background: white;
}

.hamburger{
  background-color:transparent;
  display: none;
	height:30px;
	width:30px;
	padding:20px 20px;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.hamburger.is-active{
  background-color:none;
}
._layer{
	background:white;
	margin-bottom:4px;
	border-radius:2px;
	width:28px;
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(100%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
	}
.hamburger.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
	opacity:0;
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active{
  transform: translate3d(0px, 0px, 0px);
}

@media (max-width: 1265px) {
 
}

@media (max-width: 1046px) {
  .section-full .section-rigth{
    padding: 4rem 4rem 0rem 0rem;
    text-align: center;
  }
  .section-title h1 {
    font-size: 1.9rem;
  }
  .section-text p {
    font-size: 1rem;
  }
}

@media (max-width: 897px) {
  .section-full .section-left{
    padding: 5rem 1rem 0rem 1rem;
  }
  .section-full{
    padding-top: 4.46rem;
  }
  .section-title h1 {
    font-size: 1.6rem;
  }
  .section-text p {
    font-size: 0.9rem;
  }
}

@media (max-width: 831px) {
  .title-fintech span {
    font-size: 1.8rem;
  }
}

@media (max-width: 767px) {
  .line-vertical{
    all: unset;
  }
  .nav-header nav {
    right: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    position: fixed;
    background: #041756;
    top: 4.41rem;
    opacity: 0.8;
  }

  .nav-header ul {
    width: 100%;
    text-align: left;
  }

  .nav-header ul li {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
  }

  
  .nav-header ul li a{
    display: block;
    padding: 1.5rem 0rem 1.5rem 1.5rem;
  }

  .nav-header ul li a span{
    all: unset;
  }

  .nav-header ul li a:hover{
    padding-left: 2rem;
    color: #a1bf23;
    cursor: pointer;
  }

  .nav-header ul li a:hover span{
    all: unset;
    color: #a1bf23;
    cursor: pointer;
  }

  .hamburger {
    display: block;
  }

  .boton-close {
    display: block;
  }

  .section-full .section-left {
    padding: 0rem;
  }

  .section-rigth img {
    width: 50%;
    height: auto;
    margin-left: 2rem;
  }
}
  

@media (max-width: 692px) {

}

@media (max-width: 648px) {

}

@media (max-width: 470px) {

}
